<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"></link>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body class="container">
<h2>Game Manuals:</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Last Retrieved</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="manual : ${gameManuals}">
        <td th:text="${manual.name}"></td>
        <td><a th:href="${manual.url}" th:text="${manual.url}"></a></td>
        <td th:text="${manual.lastRetrieved} ?: 'Never'"></td>
        <td><a th:href="@{'/sources/importGameManual/' + ${manual.id}}" class="btn btn-default" role="button">Import</a>
        </td>
    </tr>
    </tbody>
</table>

<h2>FTC Forum Threads:</h2>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Link</th>
        <th>Last Retrieved</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="thread : ${ftcForumThreads}">
        <td th:text="${thread.name}"></td>
        <td><a th:href="|${thread.domain}/node/${thread.nodeId}|" th:text="|${thread.domain} - ${thread.nodeId}|"></a>
        </td>
        <td th:text="${thread.lastRetrieved} ?: 'Never'"></td>
        <td><a th:href="@{'/sources/importVBulletin/' + ${thread.id}}" class="btn btn-default" role="button">Import</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
